.App {
  font-family: sans-serif;
  text-align: center;
}

.swiper-container {
  height: 20rem;
  width: 100%;

  @media screen and (max-width: 32rem) {
    height: 10rem !important;
  }
}

.header {
  margin-bottom: 2rem;
}

.swiper-slide {
  max-height: 20rem;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-size: 1.5rem;
}

.buttons-list {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
